* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}

#cv{
    color: #700B97;
}
main{
        display: flex;
        justify-content: flex-start;
}
#vaardigheden{
    background: #DEDEDE;
    color: black;
    width: 80%;
    border-radius: 10px;
    box-shadow:  #700B97;
    transition: box-shadow 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}

#vaardigheden:hover{
    box-shadow: 1px 1px 50px #700B97;
}
h1{
    font-size: 48px;
    overflow: hidden;
}
h2{
    font-size: 10px;
    margin-bottom: 30px;
    margin-top: -5px;
    }
img{
    height: 80px;
    border-bottom: 3px solid transparent;
    padding: 10px;
}
img:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

#images{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
#tweedeRij{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    margin: 20px;
}
.level{
    padding-right: 10px;
}

#talen{
    background: #DEDEDE;
    color: black;
    width: 50%;
    border-radius: 10px;
    box-shadow:  #700B97;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow 0.5s ease-in-out;
}
#fun{
    background: #DEDEDE;
    color: black;
    width: 50%;
    border-radius: 10px;
    box-shadow:  #700B97;
    padding: 20px;
    margin-left: 20px;
    transition: box-shadow 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#talen:hover{
    box-shadow: 1px 1px 50px #700B97;
}
#fun:hover{
     box-shadow: 1px 1px 50px #700B97;
 }

td{
    padding: 10px;
}

#werkervaring{
    background: #DEDEDE;
    color: black;
    width: 80%;
    border-radius: 10px;
    box-shadow: #700B97;
    transition: box-shadow 0.5s ease-in-out;
    display: flex;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    margin-bottom: 20px;
}
#werkervaring:hover{
    box-shadow: 1px 1px 50px #700B97;
}
table{
    width: 100%;
}
tr:hover{
    color: #700B97;
}

#werkervaringtabel{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    overflow: auto;
}
tr:nth-child(even){
    background: lightgrey;
}

#trcenter>td{
    text-align: center;
    border-bottom: #700B97 3px solid;
}
#trcenter:hover{
    color: black;
}
#tabelGeenOpmaak tr:nth-child(even){
    background: none;
    justify-content: center;
}
#tabelGeenOpmaak td{
    text-align: center;
}

#Diploma{
    background: #DEDEDE;
    color: black;
    width: 80%;
    border-radius: 10px;
    box-shadow: #700B97;
    transition: box-shadow 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    margin-bottom: 100px;
}
#Diploma:hover{
    box-shadow: 1px 1px 50px #700B97;
}

.wrappanel{
    display: flex;

}
.level{
    height: 80px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
}
.subtitel{
    display: flex;
    justify-content: center;
}

#overmijtekst{
    min-width: 126px;
}
#landervanhove{
    min-width: 186px;
}
