* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}

#cv{
    color: #700B97;
}
main{
        display: flex;
        justify-content: space-evenly;
}

#vaardighedenTitel{
    background: honeydew;
    color: black;

    width: 80%;
    border-radius: 10px;
    box-shadow:  #700B97;
    transition: box-shadow 0.8s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}

#vaardighedenTitel:hover{
    box-shadow: 1px 1px 100px #700B97;
}
h1{
    font-size: 48px;
}
h2{
    font-size: 12px;
    margin-bottom: 30px;
    border-bottom: 1px black solid;
    width: 500px;
    display: flex;
    justify-content: center;
}
img{
    height: 50px;
    border-bottom: 3px solid transparent;
}
img:hover{
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;
}


#images{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
}
#tweedeRij{
    display: flex;
    width: 80%;

}

#talen{
    background: honeydew;
    color: black;
    width: 50%;
    border-radius: 10px;
    box-shadow:  #700B97;
    padding: 20px;
    display: flex;
    flex-direction: column;


}
#fun{
    background: honeydew;
    color: black;
    width: 50%;
    border-radius: 10px;
    box-shadow:  #700B97;
    padding: 20px;
    display: flex;
    flex-direction: column;

}