* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 900px) {


    .hide{
        display: none;
    }

    nav{
        display: flex;
        background-color: black;
        border: 3px solid #700B97;
        border-radius: 12px;
        height: 50px;
        justify-content: space-between;
        align-items: center;
        margin: 1% 5%;
        color: white;
    }

    #nav2 {
        display: none;
        background-color: black;
        border: 3px solid #700B97;
        border-radius: 12px;
        flex-direction: column;
        top: 50px;
        width: 200px;
        align-items: flex-end;
        justify-items: center;
        align-content: center;
        position: absolute;
        right: 0;

    }
    #nav2.show{
        display: flex;
    }

    #nav2 li{
        padding: 10px;
        align-items: center;
    }

    #nav1{
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-left: 10px;
        align-items: center;
    }
    #overmijtekst{
        min-width: 0px;
    }

    #menu{
        display: inline-block;
        height: 2px;
        position: relative;
    }

    h1{
        font-size: 26px;
    }
    #tweedeRij {
        display: flex;
        flex-wrap: wrap;
    }
    #talen {
        width: 100%;
    }
    #fun{
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }
    #menutoggle{
        position: relative;

    }

    #fototekst{
        display: flex;
        flex-direction: column;
        height: 50vh;
        width: 100%;
        }

    #profielfoto{
        border-radius: 25px;
        padding: 0;
        height: 50%;
    }
    #inleiding1{
        width: 100%;
        height: 50%;
        overflow: scroll;
        scrollbar-face-color: #700B97;
    }

    #vrijetijd{
        height: 50vh;
    }

    #trcenter{
        display: none;
    }

    #werkervaringtabel{
        background: #DEDEDE;
    }
    tr:nth-child(even){
        background: #DEDEDE;
    }
    table tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #700B97;
    }

    table td {
        display: block;
        text-align: center;
        font-size: 13px;
    }
    .onderElkaar{
        display: flex;
        flex-direction: column-reverse;
    }





}
