* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
}

body{
    background-image: url("Assets/background.jpg");
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(5px);
    color: white;
}

nav{
    display: flex;
    background-color: black;
    border: 3px solid #700B97;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    margin: 10px 100px;
    border-radius: 12px;
    color: white;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

#nav1{
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin-left: 100px;
    align-items: center;
}

#nav2{
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-right: 30px;
}

a{
    text-decoration: none;
}

li{
    border-bottom: 2px solid transparent;
}

li:hover{
    border-bottom: 2px solid #700B97;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

header{
    position: sticky;
    top: 10px;
}
header a{
    color: white;
}

main a{
    color: white;

}

body{
    height: 1300px;
}
main{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#paars{
    margin-top: 20px;
    border-radius: 12px;
    background: #700B97;
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#paars:hover{
    background: white;
    color: #700B97;
}

h2{
    margin-top: 10px;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    opacity: 0.5;
    position: fixed;
    bottom: 10px;
    width: 100%;
}
footer a{
    color: #DEDEDE;
}
img{
    height: 50px;
}
#imgtop{
    background: #DEDEDE;
}
