* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}

#overmij{
    color: #700B97;
}
#fototekst{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    max-width: 50vw;
    margin-bottom: 10px;
}
#profielfoto{
    height: 100%;
    border-radius: 25px;
    box-shadow: #DEDEDE 0 0 0;
    transform: translateY(0px);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    border: solid transparent 2px;
    margin-right: 10px;

}
#profielfoto:hover{
    box-shadow: #DEDEDE 0 0 20px;
    position: relative;
    transform: translateY(-5px);
    cursor: pointer;

}
#profielfoto:active{
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: #DEDEDE 0 0 0;
    position: relative;
    transform: translateY(-5px);
    border: solid #DEDEDE 2px;
}

#inleiding1{
    background: #DEDEDE;
    color: black;
    border-radius: 10px;
    box-shadow: #700B97;
    transition: box-shadow 0.5s ease-in-out;
    padding: 20px;
    height: 100%;
    max-width: 50vw;
    overflow: auto;

}
#vrijetijd{
    background: #DEDEDE;
    color: black;
    border-radius: 10px;
    box-shadow: #700B97;
    transition: box-shadow 0.5s ease-in-out;
    padding: 20px;
    max-width: 50vw;
    max-height: 25vh;
    overflow: auto;
}