* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}

#overmij{
    color: #700B97;
}
#fototekst{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    max-width: 35vw;
}
#profielfoto{
    height: 100%;
    border-radius: 25px;
    border: solid transparent 2px;
    box-shadow: #DEDEDE 0 0 0;
    transform: translateY(0px);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    margin-right: 10px;
}
#profielfoto>img{
    border-radius: 25px;
    padding: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: top;
}

#profielfoto:hover{
    box-shadow: #DEDEDE 0 0 20px;
    position: relative;
    transform: translateY(-5px);
    cursor: pointer;
}
#profielfoto:active{
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: #DEDEDE 0 0 0;
    position: relative;
    transform: translateY(-5px);
    border: solid #DEDEDE 2px;
}

#inleiding1{
    background: #DEDEDE;
    color: black;
    border-radius: 10px;
    box-shadow: #700B97;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    padding: 20px;
    height: 100%;
    width: 66%;
    overflow: auto;
    margin-bottom: 10px;
}
#inleiding1:hover{
    box-shadow: 1px 1px 50px #700B97;
    transform: scale(1.05);

}

#vrijetijd{
    background: #DEDEDE;
    color: black;
    border-radius: 10px;
    box-shadow: #700B97;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    padding: 20px;
    max-width: 35vw;
    max-height: 25vh;
    overflow: auto;
}
#vrijetijd:hover{
    box-shadow: 1px 1px 50px #700B97;
    transform: scale(1.05);

}

main{
    height: 100vh;
}